%necessities-button {
  @apply
  transition
  duration-150
  disabled:cursor-no-drop
  disabled:bg-gray-200
  disabled:text-gray-400
  select-none
  whitespace-nowrap
  font-medium
  gap-2
  overflow-hidden;
}

// Primary Button

.primary-button {
  @extend %necessities-button;
  @apply flex bg-primary hover:enabled:bg-orange-600 rounded-lg items-center justify-center enabled:text-white;
}

.primary-button i {
  @apply bg-white #{!important}
}

.primary-button:disabled > i {
  @apply bg-gray-400 #{!important}
}

// Secondary Button

.secondary-button {
  @extend %necessities-button;
  @apply flex bg-gray-800 hover:enabled:bg-gray-700 rounded-lg items-center justify-center enabled:text-white;
}

.secondary-button i {
  @apply bg-white #{!important}
}

.secondary-button:disabled > i {
  @apply bg-gray-400 #{!important}
}

// Sizes

.small-btn {
  @apply h-9 px-4 text-sm #{!important};
}

.medium-btn {
  @apply h-10 px-4 text-sm #{!important};
}

.large-btn {
  @apply h-12 px-4 text-base #{!important};
}
